* {
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}


.navbar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #1b1b1b;
    font-weight: 500;
    transition: all 0.5s ease;
    color: white;
    font-size: 50px;
}

.navbar.active {
    width: 1px;
}

.navbar .text {
    font-size: 38px;
    line-height: 65px;
    text-align: center;
    color: white;
}

nav ul {
    min-width: 1px;
    list-style: none;
    height: 100%;
    width: 100%;
}

nav ul li {
    text-decoration: none;
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li a {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
    display: block;
    width: 100%;
    height: 100%;
    border-left: 3px solid transparent;
    color: white;
}

nav ul li a:hover {
    color: cyan;
    background-color: #1e1e1e;
    border-left-color: cyan;
}

nav ul ul {
    position: static;
    display: none;
    
}

nav ul .sub_item.show {
    display: block;
}

nav ul .teacher_item.show1 {
    display: block;
}


nav ul .student_item.show2 {
    display: block;
}


ul ul li {
    line-height: 45px;
    border-bottom: none;
}


ul ul li a {
    font-size: 15px;
    padding-left: 35px;
}

ul li a span {
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    transition: 0.5s;
    font-size: 25px;
}

ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}


.home_section {
    position: relative;
    background-color: #f5f5f5;
    height: auto;
    width: calc(100% - 250px);
    left: 250px;
    transition: all 0.5s ease;
    color: black;
}

.navbar.active ~ .home_section {
    left: 1px;
    width: calc(100% - 1px);
}

.home_section nav {
    position: fixed;
    width: calc(100% - 250px);
    left: 250px;
    height: 80px;
    background-color: #fff;
    left: 250px;
    font-size: 30px;
    padding: 20px 20px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar.active ~ .home_section nav {
    left: 1px;
    width: calc(100% - 1px);
}

.home_section .sidebar .menu{
    width: 40px;
    height: 40px;
    background-color: #1b1b1b;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

.home_section .user_profile {
    font-size: 15px;
    right: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #d6d5d5;
    padding: 2px 5px 2px 5px;
    display: flex;
    align-items: center;
}

.home_section .user_profile .user_img {
    padding-right: 5px;
    font-size: 35px;
}

.home_section .user_profile .user_name {
    padding-right: 5px;
    font-size: 15px;
    font-weight: 600;
}

.container {
    position: relative;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    display: flex;
    flex-direction: column;
}

.container label {
    float: left;
    margin-left: 30px;
    width: 300px;
}

.container label.radio-btn {
    float: left;
    margin-left: 0px;
    display: inline-flex;
    align-items: center;
}

.container h2 {
    margin-top: 30px;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.container .student {
    margin-left: 50px;
    font-size: 25px;
    font-weight: 600;
    color: #646464;
}

input[type=text], input[type=email], input[type=date] {
    border: 1px solid rgb(173, 173, 173);
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    font-size: 15px;
}

input[type=text]:hover, input[type=email]:hover, input[type=date]:hover {
    background-color: #e0dcdc;
}

/* CUSTOM CHECKBOX */

.container div .radio-btn {
    cursor: pointer;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    width: 100px;

} 

.gender {
    margin-left: 21px;
    font-size: 20px;
    font-weight: 500;
    color: #646464;
}

.radio-input {
    display: none;
}

.radio_radio {
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    border: 3px solid #d8e4e2;  
    border-radius: 50%;
    margin: 0px;
    padding: 1px;
    box-sizing: border-box;
}

.radio_radio::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #08bb94;
    display: block;
    border-radius: 50%;
    justify-content: center;
    transform: scale(0);
    transition: transform 0.2s;
}

.radio-btn .radio-input:checked + .radio_radio::after{
    transform: scale(1);
} 


input[type=button] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 2px;
    border: none;
    background-color: #6b8395;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

input[type=button]:hover {
    background-color: #7e7e7e;
} 
